@import "_mediaquerys";
@import "_error";
@import "_om-oss";
@import "_startsida";
@import "_base";
@import "_gitarrbyggarcentrum";
@import "_product-grid";
@import "_butiker";
@import "_kontakta-oss";
@import "_mixins";
@import "_produkt";
@import "_våra_produkter";
@import "_sökfunktion";
body {
  margin: 0; // Tagit bort all margin på bodyn så den går "kant i kant"

  /* Det här är den översta svarta remsan med tre info texter */
  .top-bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 2.5vh;
    min-height: 4vh;
    align-items: center;
    .icons {
      width: 4vw;
      @include desktop {
        width: 1.2vw;
      }
    }
    .top-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        display: flex;
        color: white;
        margin: 0;
        font-family: "lato";
        box-sizing: border-box;
        font-size: 2vw;
        width: 17vw;
        @include desktop {
          font-size: 0.7vw;
          width: auto;
        }
      }
      a {
        display: flex;
        color: white;
        margin: 0;
        font-size: 2vw;
        align-items: center;
        text-decoration: none;
        font-family: "lato";
        @include desktop {
          font-size: 0.7vw;
        }
        @include scale;
      }
      img {
        margin-left: 0.5vw;
      }
    }
  }
  //
  //
  /* Det här är den mellersta sectionen i headern där loggan, sökfältet och de 3 ikonerna är. */
  .mid-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    flex-flow: row;
    flex-wrap: wrap;
    .logo-link {
      display: flex;
      min-width: 40vw;
      @include desktop {
        min-width: 20vw;
      }
      .logo {
        max-width: 40vw;
        justify-self: flex-start;
        margin: 1.5vh;
        @include desktop {
          max-width: 20vw;
        }
      }
    }

    #icons-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 4vw;
      @include desktop {
        order: 2;
      }
      #phone-nav {
        display: flex;
        @include desktop {
          display: none;
          p {
            display: none;
          }
        }
      }
    }
    .icons-midbar {
      max-width: 6vw;
      margin-left: 1vw;
      @include scale;
      @include desktop {
        max-height: 3vh;
        max-width: 2vw;
        margin-left: 1.5vw;
      }
    }
    #searchbar {
      display: flex;
      margin-bottom: 2vh;
      justify-content: center;
      align-items: center;
      @include desktop {
        display: flex;
        margin-bottom: 0;
      }
      input {
        border: none;
        border-radius: 1em;
        text-align: center;
        min-width: 80vw;
        min-height: 3vh;
        margin-right: 0;
        background-color: rgb(223, 223, 223);
        color: black;
        font-size: 5vw;
        @include desktop {
          font-size: 1.5vw;
          min-width: 20vw;
          max-height: 1vh;
        }
        font-family: "lato";
        box-shadow: rgba(0, 0, 0, 0.306) 0px 2px 5px;
        &:hover {
          background-color: rgb(255, 179, 89);
        }
        &:focus {
          box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
          background-color: rgb(249, 149, 27);
        }
      }
      a {
        display: flex;
        align-items: center;
        margin-left: 1vw;
        min-width: 1vw;
        @include desktop {
          display: flex;
        }
        @include scale;
        img {
          margin-left: 0.1vw;
        }
      }
    }
  }
  /* Här är desktop navigationen */
  #desktop-nav {
    display: none;
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: black;
      height: 4vh;
      a {
        color: white;
        text-decoration: none;
        font-family: "lato";
        font-size: 1.2vw;
        @include scale;
      }
      .dropdown {
        display: inline-block;
        margin-top: -1.3%;
        img {
          margin-left: 1vw;
          width: 1vw;
          transition: 0.1s ease-in-out;
        }
        &:hover img {
          transform: rotate(-90deg);
          border: rgb(255, 179, 89) solid;
          border-color: rgb(255, 179, 89);
          border-radius: 0.3vw;
        }
        &:focus img {
          transform: rotate(-90deg);
        }
        &:hover .dropdown-content {
          display: block;
        }
        &:focus .dropdown-content {
          display: block;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: black;
          min-width: 12vw;
          left: 12.7vw;
          z-index: 1;
          a {
            display: block;
            padding: 1em;

            &:hover {
              background-color: black;
            }
          }
        }
      }
    }
  }
  //
  //
  //
  /* Här är Hamburgarmeny */
  #phone-nav {
    margin-left: 8px;
    ul {
      position: fixed;
      background: rgba(255, 255, 255, 0.94);
      padding: 30px 30px;
      top: 12%;
      right: 0;
      text-align: right;
      transition: all 0.5s;
      z-index: 1;

      li {
        list-style-type: none;

        a {
          color: $dark;
          text-decoration: none;
          font-size: 1.5em;
          padding: 5px 12px;
          list-style-type: none;
          line-height: 80px;

          &:hover {
            transform: scale(1.1) translate(-1%, 1%);
            color: $primary-color;
          }
          &:focus {
            transform: scale(1.1) translate(-1%, 1%);
            color: $primary-color;
          }
        }
      }
    }

    .checkbtn i {
      display: block;
      font-size: 25px;
      color: $dark;
      float: right;
      cursor: pointer;
    }

    #check {
      display: none;
    }

    #check:checked ~ ul {
      right: -400px;
    }

    .dropdown {
      a {
        transition: 0.1s ease-in-out;
        &:hover {
          transform: scale(1.1) translate(-1%, 1%);
        }
        &:focus {
          transform: scale(1.1) translate(-1%, 1%);
        }
      }

      #arrow {
        margin-left: 1vw;
        transition: 0.1s ease-in-out;
      }
      &:hover #arrow {
        transform: rotate(-90deg);
      }
      &:focus #arrow {
        transform: rotate(-90deg);
      }
      &:hover .dropdown-content {
        display: block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $light;
        min-width: 60vw;
        z-index: 1;
        line-height: 80px;

        a {
          display: block;
          line-height: 80px;
          padding: 0 60px;
          border-bottom: solid 1px rgb(205, 205, 205);
        }
      }
    }
  }

  //
  //
  //
  /* Här är hero-bilden med välkomst texten och loggan */
  .hero-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.612)),
      url("../assets/imgs/hero.svg");
    min-height: 40vh;
    @include desktop {
      min-height: 80vh;
    }
    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 12vh;
      color: white;
      font-family: "lato";
      font-size: 4.5vw;
      text-shadow: rgb(0, 0, 0) 0px 2px 10px;
      @include desktop {
        font-size: 3vw;
      }
      img {
        width: 60vw;
        @include desktop {
          width: 20vw;
        }
      }
    }
  }
  //
  //
  /* Här är översta delen av footern med nyhetsbrev, prenumerera knapp och sociala media iconer  */
  #firfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "lato";
    margin-top: 5vh;
    min-height: 20vh;
    line-height: 9vh;
    @include desktop {
      min-height: 30vh;
    }
    h2 {
      font-size: 7vw;
      @include desktop {
        font-size: 3vw;
      }
    }
    button {
      @include blackButton;
    }
    #social {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      min-width: 40vw;
      @include desktop {
        min-width: 15vw;
      }
      a {
        @include scale;
        img {
          max-width: 7vw;
          margin-bottom: 5vh;
          @include desktop {
            max-width: 3vw;
          }
        }
      }
    }
  }
  //
  //
  /* Här är nedersta delen av footern med länkar till diverse info-sidor */
  #secfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    min-height: 10vh;
    padding: 3vh;
    @include desktop {
      flex-direction: row;
    }
    #bottom {
      display: flex;
      justify-content: space-evenly;
      background-color: black;
      flex-direction: column;
      align-items: baseline;
      min-width: 90vw;
      @include desktop {
        flex-direction: row;
      }
      .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        min-width: 10vw;
        @include desktop {
          flex-direction: row;
        }
        a {
          color: white;
          text-decoration: none;
          font-family: "lato";
          @include scale;
          font-size: 3.5vw;
          @include desktop {
            font-size: 1.3vw;
          }
        }
        li {
          list-style: none;
          margin-bottom: 0.9vh;
          font-family: "lato";
          font-size: 3.5vw;
          @include desktop {
            font-size: 1.3vw;
          }
          h2 {
            text-decoration: underline;
            font-size: 5vw;
            padding-top: 20px;
            line-height: 5vh;
            @include desktop {
              font-size: 1.4vw;
              padding-top: 0;
              line-height: 2vh;
            }
          }
        }
        #indent-list {
          margin-left: 1vw;
          a {
            font-size: 1.1vw;
            font-weight: bold;
            @include scale;
          }
        }
      }
    }
  }
}

.copy-text {
  background-color: $dark;
  display: flex;
  justify-content: center;
  padding: 10px;
  p {
    color: $light;
    font-size: 3vw;
    @include desktop {
      font-size: 1.3vw;
    }
  }
}
